<h1 class="title">PARKING NEARBY</h1>
<p class="infos" #latLong></p>
<div class="map">
  <agm-map (mapReady)="this.getParkingLocations()" [latitude]="userLat" [longitude]="userLng" [zoom]=10>
    <agm-marker [latitude]="userLat" [longitude]="userLng"></agm-marker>
    <agm-marker [latitude]="parkingLat" [longitude]="parkingLng" [iconUrl]="parkingIcon"></agm-marker>
  </agm-map>
</div>
<div class="map-legends">
  <div class="map-legend">
  	<img [src]="redDotIcon">
  	<p>Here you are now</p>
  </div>
  <div class="map-legend">
  	<img [src]="parkingIcon">
  	<p>Your nearby parking</p>
  </div>
</div>

<router-outlet></router-outlet>
