agm-map {
	height: 500px;
}
.map {
  width: 80%;
  margin: auto;
}
.title {
  text-align: center;
}
.infos {
  margin-left: 10%;
}
.map-legends {
  display: flex;
  margin: auto;
  max-width: 500px;
  width: 100%;
  min-height: 100px;
  padding-bottom: 20px;
}
.map-legend {
  display: flex;
  background: #eeecec;
  justify-content: space-around;
  width: 200px;
  height: 60px;
  margin: 20px 15px 40px;
  padding: 10px;
}
.map-legend p {
  font-weight: bold;
}
.map-legend img {
  object-fit: contain;
}
